body {
  background-image: url('../assets/background.jpg');
  height: 100%;
  background-size: cover;
  background-repeat: none;
  opacity: 0.8;
}

.App {
  text-align: center;
  padding: 5%;
}

.right-button {
  cursor: pointer;
  float: right;
}

.list-item {
  display: inline-block;
}